<%= simple_form_for(@rich_block, url: [content_block, @rich_block]) do |f| %>
  <% if @rich_block.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rich_block.errors.count, "error") %> prohibited this rich_block from being saved:</h2>

      <ul>
      <% @rich_block.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :name %>
    <%= f.input :title %>
    <%= f.input :content, as: :ckeditor %>

    <%= f.submit %>
<% end %>
