<h1>Listing RichBlocks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rich_blocks.each do |rich_block| %>
      <tr>
        <td><%= rich_block.name %></td>
        <td><%= rich_block.title %></td>
        <td><%= rich_block.content %></td>
        <td><%= link_to 'Show', content_block.rich_block_path(rich_block) %></td>
        <td><%= link_to 'Edit', content_block.edit_rich_block_path(rich_block) %></td>
        <td><%= link_to 'Destroy', content_block.rich_block_path(rich_block), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'ContentBlock Admin', content_block.content_block_admin_path %> |
<%= link_to 'New RichBlock', content_block.new_rich_block_path %>
